@media (min-width: 1300px) {
    .layout{
        display: grid;
        height: 100vh;
        width: 100vw;

        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        //1
        'a1 b1 c1 d1 e1 f1 g1 h1 i1 j1 l1 m1 n1'
        //2
        'a2 b2 c2 d2 e2 f2 g2 h2 i2 j2 l2 m2 n2'
        //3
        'a3 b3 c3 d3 e3 f3 g3 h3 i3 j3 l3  m3 n3'
        //4
        'a4 b4 c4 d4 e4 f4 g4 h4 i4 j4 l4 m4 n4'
        //5
        'a5 b5 c5 d5 e5 f5 g5 h5 i5 j5 l5 m5 n5'
        //6
        'a6 b6 c6 d6 e6 f6 g6 h6 i6 j6 l6 m6 n6'
        //7
        'a7 b7 c7 d7 e7 f7 g7 h7 i7 j7 l7 m7 n7'
        //8
        'a8 b8 c8 d8 e8 f8 g8 h8 i8 j8 l8 m8 n8'
        //9
        'a9 b9 c9 d9 e9 f9 g9 h9 i9 j9 l9 m9 n9'
        //10
        'a10 b10 c10 d10 e10 f10 g10 h10 i10 j10 l10 m10 n10'

        'a11 b11 c11 d11 e11 f11 g11 h11 i11 j11 l11 m11 n11'

        'a12 b12 c12 d12 e12 f12 g12 h12 i12 j12 l12 m12 n12';
        }

        .drop{
            display: none;
        
            }
        
            .c1:hover {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            grid-column-start: b1;
            grid-column-end: d1;
            grid-row-start: b1;
            grid-row-end: b5;
            grid-template-areas: 'b1 c1 d1'
            'b2 c2 d2'
            'b3 c3 d3'
            'b4 c4 d4'
            'b5 c5 d5';
        
        
            }
            .c1:hover .drop3{
            display: block;
            position: relative;
            background-color: pink;
            grid-row-start: b1;
            grid-row-end: b5;
            grid-column-start: b1;
            grid-column-end: d1;
        
        
            }
            .c1:hover .drop3:hover{
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            grid-column-start: b1;
            grid-column-end: d1;
            grid-row-start: b1;
            grid-row-end: b5;
           
            grid-template-areas: 'a1 b1 c1 d1'
            'a2 b2 c2 d2'
            'a3 b3 c3 d3'
            'a4 b4 c4 d4';
                    }
            
            .droptwo3{
            display: none;
                }
        
        
        
            .drop3:hover .droptwo{
            display: block;
            background-color:gold;
            grid-column-start: c1;
            grid-column-end: d1;
            grid-row-start: c1;
            grid-row-end: c4;
           
            }
    

    
}

