<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="main.css")
    body
        
        div.layout
            //10 divs A
            div.a1
                input#hamburguer(type="checkbox")
                div.drop
                    ul
                        li inicio
                        li proyectos
                        li quienes somos
                        li contactar
                    div.droptwo
                       
            div.a2
            div.a3
            div.a4
            div.a5
            div.a6
            div.a7
            div.a8
            div.a9
            div.a10
            //+2a
            div.a11
            div.a12

            //5 divs 3
            div.b1
                div.drop1
                    div.droptwo1
            div.b2
            div.b3
            div.b4
            div.b5

            //5 divs 4
            div.b6
            div.b7
            div.b8
            div.b9
            div.b10
            div.b11
            div.b12


            //5 divs 5
            div.c1
                div.drop1
                    div.droptwo3
            div.c2
            div.c3
            div.c4
            div.c5

            //5 divs 6
            div.c6
            div.c7
            div.c8
            div.c9
            div.c10
            div.c11
            div.c12

            //5 divs 7
            div.d1
            div.d2
            div.d3
            div.d4
            div.d5
 
            //5 divs 8
            div.d6
            div.d7
            div.d8
            div.d9
            div.d10
            div.d11
            div.d12

            //5 divs 9
            div.e1
            div.e2
            div.e3
            div.e4
            div.e5

            //5 divs 10
            div.e6
            div.e7
            div.e8
            div.e9
            div.e10
            div.e11
            div.e12



            //5 divs 11
            div.f1
                div.drop2
                    div.droptwo2
            div.f2
            div.f3
            div.f4
            div.f5

            //5 divs 12
            div.f6
            div.f7
            div.f8
            div.f9
            div.f10
            div.f11
            div.f12



            //5 divs 13
            div.g1
            div.g2
            div.g3
            div.g4
            div.g5

            //5 divs 14
            div.g6
            div.g7
            div.g8
            div.g9
            div.g10
            div.g11
            div.g12

            //5 divs 15
            div.h1
            div.h2
            div.h3
            div.h4
            div.h5
        

        
            //5 divs 16
            div.h6
            div.h7
            div.h8
            div.h9
            div.h10
            div.h11
            div.h12


            //5 divs 17
            div.i1
            div.i2
            div.i3
            div.i4
            div.i5

            //5 divs 18
            div.i6
            div.i7
            div.i8
            div.i9
            div.i10
            div.i11
            div.i12



            //5 divs 19
            div.j1
            div.j2
            div.j3
            div.j4
            div.j5

            //5 divs 20
            div.j6
            div.j7
            div.j8
            div.j9
            div.j10
            div.j11
            div.j12

            //5 divs 21
            div.l1
            div.l2
            div.l3
            div.l4
            div.l5

            //5 divs 22
            div.l6
            div.l7
            div.l8
            div.l9
            div.l10
            div.l11
            div.l12

            //5 divs 23
            div.m1
            div.m2
            div.m3
            div.m4
            div.m5

            //5 divs 24
            div.m6
            div.m7
            div.m8
            div.m9
            div.m10
            div.m11
            div.m12

            //5 divs 25
            div.n1
            div.n2
            div.n3
            div.n4
            div.n5

            //5 divs 26
            div.n6
            div.n7
            div.n8
            div.n9
            div.n10
            div.n11
            div.n12